@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

.link__blog{
  transition: all .5s;
  text-decoration: none;
  color: #fff;

}
.blog__img{
  width: 100%;
  transition: all .5s;
  height: 77%;
}
.section__blog{
    padding-bottom: 260px;
    padding-top: 109px;
  /* margin-top: 50px; */
  /* background: rgba(116, 185, 255,0.09); */
  background-color: #f9f9f9;
  text-align: center;
}
.container2{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.main__blog{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  margin: 30px 15px 0px 15px;
}
.header__blog{
  width: 70%;
  margin: 0 auto;
}
.header__blog h1{
    color: #1b1a1a;
    font-family: Barlow,sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.3;
}
.singleBlog{
  position: relative;
  overflow: hidden;
 width: 108%;
  height: 180%;
  box-sizing: border-box;
  box-shadow: 0 2px 10px #ccc;
  transition: all .5s;
}
.singleBlog:hover{
  box-shadow: 0 2px 13px #ccc;
  transition: all .5s;
}
.singleBlog:hover img{
  transform: scale(1.1);
  transition: all .4s;
}
.blogContent{
  position: absolute;
  left: 0;
  bottom: -45px;
  width: 100%;
  color: #fff;
  padding: 10px 5px;
  background: linear-gradient(45deg, #fe5a0e 0%,#f5f5f5 100%);
  transition: all .5s;
}
.singleBlog:hover .blogContent{
  bottom: 0;
  transition: all .5s;
}

.blogContent h3{
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}
.blogContent h3 span{
  display: block;
  font-size: 60%;
  margin-top: 5px;
  font-weight: 600;
  color: rgba(52, 73, 94,1.0)
}

.blogContent a{
  font-size: 14px;
  font-weight: 500;
}
.blogContent .btn{
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid #fff;
  border-radius: 3px;
  font-weight: 400;
}
.blogContent .btn:hover{
  background: rgba(52, 152, 219,1.0);
  transition: all .5s;
  text-decoration: none;
}
.blogContent a:hover{
  text-decoration: underline;
}

@media (max-width:992px) {
    .main__blog{
      grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    }
  }
  @media (max-width:767px) {
    .main__blog{
      grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    }
    .header__blog{
      width: 95%;
    }
    .blogContent{
      bottom: 0;
    }
  }
  @media (max-width:500px) {
  
    .main__blog{
        grid-template-columns: repeat(1, 1fr);
      }
  }
  

/* Opinions */


/* .container__testemonial {
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 30px;
	background-image: url(./images/pattern-curve.svg);
	background-position: center bottom;
	background-size: contain;
	background-repeat: no-repeat;
}
.slider1 {
	display: block;
	height: 100%;
	width: 100%;
	max-width: 850px;
	margin: 0 auto;
	position: relative;
}
.slide1 {
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	align-items: center;
	text-align: center;
}
.slide-img {
	width: 100%;
	margin: 0 auto;
	height: 100%;
	padding: 40px;
	background-image: url(./images/pattern-bg.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
}
.slide-text {
	padding-top: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-image: url(./images/pattern-quotes.svg);
	background-repeat: no-repeat;
	background-size: 80px;
	background-position: top center;
}
.testimonial-text {
	font-weight: 300;
	font-size: .7rem;
	line-height: 1rem;
	color: hsl(240, 38%, 20%);
}
.author-text {
	margin-top: 20px;
	color: hsl(240, 38%, 20%);
	font-size: .5rem;
	font-weight: 700;
}
.author-text span {
	color: hsl(240, 18%, 77%);
	font-weight: 500;
	display: block;
}
.slide-img img {
	height: 100%;
	width: 300px;
}
.prev1,
.next1 {
	display: inline-block;
	width: 50%;
	height: 100%;
	position: absolute;
	cursor: pointer;
}
.prev1:hover,
.next1:hover {
	background-color: antiquewhite;
}
.buttons {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 315px;
	width: 90px;
	height: 45px;
	box-shadow: -20px 12px 20px 0px hsla(240, 18%, 77%, 0.52);
	border-radius: 50px;
	background-color: white;
	overflow: hidden;
}
.prev1 {
	left: 0;
}
.next1 {
	right: 0;
}
.next1::after,
.prev1::after {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center;
	background-size: auto;
}
.next::after {
	background-image: url(./images/icon-next.svg);
}
.prev1::after {
	background-image: url(./images/icon-prev.svg);
}
@media only screen and (min-width: 768px) {
	.slide1 {
		flex-direction: row;
		text-align: left;
	}
	.slide-text {
		background-position: 10% top;
		background-size: 100px;
		align-items: flex-start;
	}
	.slide-img {
		margin-left: -100px;
		z-index: -1;
	}
	.slide-img img {
		width: 400px;
	}
	.buttons {
		top: 415px;
		transform: translate(0);
		left: calc(100% - 400px);
	}
}
@media only screen and (max-width: 400px) {
	.slide-img img {
		width: 200px;
	}
	.slide-img {
		padding: 10px;
	}
	.buttons {
		top: 180px;
	}
} */


.sub-main{
	width: 30%;
	margin-top:15px;
	float: left;
  }
 
.button-two {
	border-radius: 4px;
	background-color:#fe5a0e;
	border: none;
	text-align: center;
	cursor: pointer;
	font-size:12px;
	margin: 0 0 0 100px;
	color:#fff;
	text-align: center;
	padding: 9px;
	width: 110px;
	transition: all 0.5s;
  }
  
  
  .button-two span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  
  .button-two span:after {
	content: '»';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button-two:hover span {
	padding-right: 25px;
  }
  
  .button-two:hover span:after {
	opacity: 1;
	right: 0;
  }

  /* banner */
  .bg-img img {
      max-width: 100% !important;
  }

  .inner-padding {
	padding-right: 44px !important;
    padding-left: 21px !important;
  }