* {
    outline: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #fff;
    font-family: Roboto,sans-serif;
    font-size: 15px;
    color: #9b9b9b;
    overflow-x: hidden;
}
.icn{
        margin-bottom: 4px;
    position: sticky;
    margin-left: 10px;
}
.icn1{
    margin-bottom: 4px;
    position: sticky;
    margin-left: 32px;
}
.page-title {
    padding-top: 265px;
    padding-bottom: 150px;
}
.bg-parallax {
    background-attachment: fixed;
}
.header-transparent+.page-title {
    margin-top: -100px;
}
.bg-img {
    position: relative;
    z-index: 1;
}
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.bg-overlay-2:before {
    background-color: rgba(27,26,26,.1);
}
.bg-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(27,26,26,.15);
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}
.pagetitle__subheading {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: #f9f9f9;
    display: block;
    margin-bottom: 14px;
}
.pagetitle__heading {
    font-size: 40px;
    color: #fff;
    margin-bottom: 30px;
}
.pagetitle__subheading:after {
    content: "";
    position: absolute;
    left: -50px;
    top: 50%;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: #fff;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
h1, h2, h3, h4, h5, h6 {
    color: #1b1a1a;
    font-family: Barlow,sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}
.page-title .btn:not(.btn__link) {
    height: 55px;
    line-height: 55px;
    min-width: 200px;
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn__white.btn__bordered {
    background-color: transparent;
    border: 2px solid #fff;
    color: #fff;
}
.btn:not(.btn__link) {
    box-shadow: 0 3px 63px 0 rgba(40,40,40,.11);
}
.btn__icon {
    display: -ms-inline-flexbox;
    display: inline-flex;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
}
.btn {
    text-transform: capitalize;
    position: relative;
    z-index: 1;
    font-size: 14px;
    font-weight: 700;
    min-width: 170px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    padding: 0 15px;
    letter-spacing: 1px;
    border: 0;
    border-radius: 3px;
    overflow: hidden;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
a {
    color: #fe5a0e;
    -webkit-transition: color .3s ease;
    -moz-transition: color .3s ease;
    -ms-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease;
}
a {
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
}
.btn__icon i {
    margin-left: 5px;
}
.icon-arrow-right {
    font-size: 65%;
}

[class*=" icon-"], [class^=icon-] {
    font-family: icomoon !important;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

section {
    position: relative;
    padding-top: 100px;
    padding-bottom: 100px;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.about-layout2 .text-block {
    -ms-flex: 0 0 49% !important;
    flex: 0 0 49%;
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}
.mb-30 {
    margin-bottom: 30px!important;
}
.heading__subtitle {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: #fe5a0e;
    display: block;
    margin-bottom: 10px;
}
.heading-layout2 .heading__subtitle:after {
    content: "";
    position: absolute;
    left: -50px;
    top: 50%;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: #fe5a0e;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.heading-layout2 .heading__title {
    font-size: 40px;
}
.heading__title {
    position: relative;
    font-size: 34px;
    margin-bottom: 20px;
}
.heading__desc {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 0;
}
.mt-40 {
    margin-top: 40px!important;
}
.about-layout2 .list-items {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
.about-layout2 .list-items li {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
}
.list-items li {
    position: relative;
    padding-left: 32px;
    font-size: 15px;
    font-weight: 700;
    color: #1b1a1a;
    margin-bottom: 9px;
}
.list-items li:before {
    content: "";
    font-family: Fontawesome;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 10px;
    font-weight: 400;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #fe5a0e;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn:not(.btn__link):before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #222;
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    -o-transform-origin: right center;
    transform-origin: right center;
    -webkit-transition: transform .24s cubic-bezier(.37,.31,.31,.9);
    -moz-transition: transform .24s cubic-bezier(.37,.31,.31,.9);
    -ms-transition: transform .24s cubic-bezier(.37,.31,.31,.9);
    -o-transition: transform .24s cubic-bezier(.37,.31,.31,.9);
    transition: transform .24s cubic-bezier(.37,.31,.31,.9);
}
.btn__secondary:before {
    background-color: #fe5a0e!important;
}
.btn__icon span {
    margin-right: 5px;
}
.btn__secondary {
    background-color: #222;
    color: #fff;
}
.btn__icon i {
    margin-left: 5px;
}
.icon-arrow-right {
    font-size: 65%;
}

.about-layout2 .imgs-block {
    -ms-flex: 0 0 50% !important;
    flex: 0 0 50%;
    max-width: 100%;
    padding-left: 30px;
    position: relative;
}
.mt-50 {
    margin-top: 50px!important;
}
.about__img img {
    border-radius: 3px;
}
.w-100 {
    width: 100%!important;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}
img {
    max-width: 100%;
}

img {
    vertical-align: middle;
    border-style: none;
}
.about-layout2 .video__box {
    position: absolute;
    left: 60px;
    bottom: 55px;
    width: 165px;
    height: 165px;
    border-radius: 4px 4px 0 0;
    background-color: #fe5a0e;
}
.about-layout2 .video__box:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: -28px;
    width: calc(100% + 60px);
    height: 30px;
    border-radius: 0 0 4px 4px;
    background-color: #fe5a0e;
}

about-layout2 .video__box .video__btn {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    -o-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
}
.video__btn {
    text-align: center;
    display: inline-block;
    position: relative;
    padding-left: 70px;
    height: 70px;
}
.video__btn-white .video__player {
    background-color: #fff!important;
    color: #1b1a1a;
}
.video__btn .video__player {
    position: absolute;
    top: 53px;
    left: 49px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    background-color: #fe5a0e;
    color: #fff;
}

.video__btn-white .video__player-animation {
    border-color: #fff!important;
}
.video__btn .video__player-animation {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .2;
    border: 2px solid #fe5a0e;
    border-radius: 50%;
    -webkit-animation: pulsing 3s linear 0s infinite;
    -moz-animation: pulsing 3s linear 0s infinite;
    -ms-animation: pulsing 3s linear 0s infinite;
    -o-animation: pulsing 3s linear 0s infinite;
    animation: pulsing 3s linear 0s infinite;
}
.video__btn-white .video__player-animation {
    border-color: #fff!important;
}
.video__btn .video__player-animation-2 {
    animation-delay: 1s;
}
.video__btn .video__player-animation {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    opacity: .2;
    border: 2px solid #fe5a0e;
    border-radius: 50%;
    -webkit-animation: pulsing 3s linear 0s infinite;
    -moz-animation: pulsing 3s linear 0s infinite;
    -ms-animation: pulsing 3s linear 0s infinite;
    -o-animation: pulsing 3s linear 0s infinite;
    animation: pulsing 3s linear 0s infinite;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.fa-play:before {
    content: "\f04b";
}
.about-layout2 .video__box:after {
    content: "";
    position: absolute;
    left: -60px;
    bottom: 0;
    width: 30px;
    height: 30px;
    border-radius: 4px 0 0 0;
    background-color: #fe5a0e;
}
.p-0 {
    padding: 0!important;
}
.bg-theme {
    background-color: #fe5a0e!important;
}
.col-padding-0, .col-padding-0>.row>[class*=col-] {
    padding: 0;
}
.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.col-padding-0>.row {
    margin: 0;
}
.col-padding-0, .col-padding-0>.row>[class*=col-] {
    padding: 0;
}
.bg-img {
    position: relative;
    z-index: 1;
}
.background-banner {
    min-height: 500px;
}
.banner-layout1 .cta__banner {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 50px;
    border-radius: 4px 0 0 0;
}
.cta__banner {
    background-color: #fe5a0e;
    max-width: 400px;
    padding: 50px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}
.bg-img {
    position: relative;
    z-index: 1;
}
.cta__banner .cta__title {
    font-size: 22px;
}
.cta__banner .cta__desc {
    margin-bottom: 15px;
}
.btn__link.btn__primary {
    color: #fe5a0e;
}
.btn__link {
    background-color: transparent;
    border-color: transparent;
    min-width: 0;
    line-height: 1;
    height: auto;
    padding: 0;
    border: none;
}
.btn__primary {
    background-color: #fe5a0e;
    color: #fff;
}
.cta__banner .btn i {
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin-left: 5px;
    color: #fff;
    background-color: #fe5a0e;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.icon-arrow-right {
    font-size: 65%;
}
.icon-arrow-right:before {
    content: "\e922";
}
.col-padding-0, .col-padding-0>.row>[class*=col-] {
    padding: 0;
}
.inner-padding {
    padding: 65px;
}
.mb-40 {
    margin-bottom: 40px!important;
}
.heading-light .heading__desc, .heading-light .heading__title {
    color: #fff;
}
.heading-layout2 .heading__title {
    font-size: 40px;
}
.heading__title {
    position: relative;
    font-size: 34px;
    margin-bottom: 20px;
}
.banner-layout1 .heading__desc {
    font-size: 17px;
    line-height: 27px;
    font-weight: 600;
}
.heading-light .heading__desc, .heading-light .heading__title {
    color: #fff;
}
.heading__desc {
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 0;
}
.fancybox-item {
    position: relative;
    margin-bottom: 40px;
}
.fancybox-light .fancybox-item .fancybox__desc, .fancybox-light .fancybox-item .fancybox__icon, .fancybox-light .fancybox-item .fancybox__title, .fancybox-light .fancybox-item:hover .fancybox__title {
    color: #fff;
}
.fancybox-item .fancybox__icon {
    font-size: 55px;
    line-height: 1;
    color: #fe5a0e;
    margin-bottom: 25px;
}
.icon-welding:before {
    content: "\e91b";
}
.fancybox-item .fancybox__title {
    font-size: 19px;
    font-weight: 600;
    margin-bottom: 16px;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}
.fancybox-item {
    position: relative;
    margin-bottom: 40px;
}
.fancybox-item .fancybox__icon {
    font-size: 55px;
    line-height: 1;
    color: #fe5a0e;
    margin-bottom: 25px;
}
.icon-checklist:before {
    content: "\e907";
}
.portfolio-standard-carousel {
    overflow-x: hidden;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.mb-50 {
    margin-bottom: 50px!important;
}

.text-center {
    text-align: center!important;
}
.heading__subtitle {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: #fe5a0e;
    display: block;
    margin-bottom: 10px;
}
.heading__title {
    position: relative;
    font-size: 34px;
    margin-bottom: 20px;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.clients {
    padding-top: 60px;
    padding-bottom: 60px;
}

.border-top {
    border-top: 1px solid #eaeaea!important;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.bg-parallax {
    background-attachment: fixed;
}

.bg-img {
    position: relative;
    z-index: 1;
}
.bg-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(27,26,26,.15);
}
.heading-light .heading__subtitle {
    color: #f9f9f9;
}

.heading__subtitle {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: #fe5a0e;
    display: block;
    margin-bottom: 10px;
}
.heading-light .heading__subtitle:after {
    background-color: #fff;
}
.heading-layout2 .heading__subtitle:after {
    content: "";
    position: absolute;
    left: -50px;
    top: 50%;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: #fe5a0e;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.heading-layout2 .heading__title {
    font-size: 40px;
}
.heading__title {
    position: relative;
    font-size: 34px;
    margin-bottom: 20px;
}

.mb-40 {
    margin-bottom: 40px!important;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.list-items-white li {
    color: #fff;
}
.list-items li {
    position: relative;
    padding-left: 32px;
    font-size: 15px;
    font-weight: 700;
    color: #1b1a1a;
    margin-bottom: 9px;
}
.list-items-white li:before {
    background-color: #fff;
    color: #fe5a0e;
}
.list-items li:before {
    content: "";
    font-family: Fontawesome;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 10px;
    font-weight: 400;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #fe5a0e;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.portfolio-standard .portfolio-item .portfolio__img img {
    border-radius: 4px 4px 0 0;
}
.portfolio-item .portfolio__img img {
    width: 100%;
    max-width: 100%;
    border-radius: 4px;
    -webkit-transition: all .6s linear;
    -moz-transition: all .6s linear;
    -ms-transition: all .6s linear;
    -o-transition: all .6s linear;
    transition: all .6s linear;
}
.slick-slide img {
    display: block;
}
img {
    max-width: 100%;
}
img {
    vertical-align: middle;
    border-style: none;
}
.clients {
    padding-top: 60px;
    padding-bottom: 60px;
}

.border-top {
    border-top: 1px solid #eaeaea!important;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slick-list {
    margin: 0 -10px;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track:after, .slick-track:before {
    display: table;
    content: '';
}
.slick-track:after, .slick-track:before {
    display: table;
    content: '';
}
.bg-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(27,26,26,.15);
}
.p-0 {
    padding: 0!important;
}
.contact-panel {
    box-shadow: 0 5px 83px 0 rgba(40,40,40,.12);
    background-color: #fff;
    padding: 80px 80px 40px;
    border-radius: 5px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
    z-index: 2;
}
.mt--140 {
    margin-top: -140px;
}
.contact-panel .contact__panel-info {
    flex: 0 0 34%;
    max-width: 34%;
    padding-bottom: 40px;
}
.contact-layout2 .contact-panel .contact__panel-info-bottom, .contact-layout2 .contact-panel .contact__panel-info-top {
    background-color: #fe5a0e;
}
.contact-panel .contact__panel-info-top {
    background-color: #333;
    border-radius: 4px 4px 0 0;
    padding: 50px 50px 32px;
}
.contact-info-box {
    margin-bottom: 30px;
}
.contact-panel .contact-info-box .contact__info-box-title {
    color: #fff;
    margin-bottom: 11px;
}
.contact-info-box .contact__info-box-title {
    font-size: 17px;
    margin-bottom: 20px;
}
.contact-info-box .contact__info-list {
    margin-bottom: 0;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.contact-panel .contact-info-box .contact__info-list li {
    color: #fff;
    margin-bottom: 6px;
}
.contact-info-box .contact__info-list li {
    font-size: 14px;
    margin-bottom: 9px;
}
.contact-panel .contact__panel-info-top .contact-info-box:last-of-type {
    margin-bottom: 0;
}
.contact-info-box {
    margin-bottom: 30px;
}
.contact-info-box .contact__info-box-title {
    font-size: 17px;
    margin-bottom: 20px;
}
.list-unstyled {
    padding-left: 0;
    list-style: none;
}
.contact-info-box .contact__info-list li {
    font-size: 14px;
    margin-bottom: 9px;
}
.contact-info-box .contact__info-list li a {
    color: #9b9b9b;
}
.contact-layout2 .contact-panel .contact__panel-info-bottom, .contact-layout2 .contact-panel .contact__panel-info-top {
    background-color: #fe5a0e;
}
.contact-panel .contact__panel-info-bottom {
    background-color: #222;
    border-radius: 0 0 4px 4px;
    padding: 50px 50px 42px;
}
.contact-panel .contact__panel-info-bottom .contact__panel-info-title {
    font-size: 16px;
    line-height: 26px;
    color: #fff;
    display: block;
    margin-bottom: 25px;
}
b, strong {
    font-weight: bolder;
}
.align-items-center {
    -ms-flex-align: center!important;
    align-items: center!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.contact-layout2 .contact__number i {
    border-color: rgba(255,255,255,.25);
}
.contact-panel .contact__number i {
    color: #fff;
    border-color: rgba(255,255,255,.25);
}
.contact__number i {
    width: 45px;
    height: 45px;
    line-height: 43px;
    border-radius: 50%;
    text-align: center;
    border: 2px solid rgba(27,26,26,.25);
    font-size: 17px;
    margin-right: 13px;
}
.contact-panel .contact__number a {
    color: #fff;
}
.contact__number a {
    font-family: Barlow,sans-serif;
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
}
.contact-panel .contact__panel-form {
    flex: 0 0 66%;
    max-width: 66%;
    padding-left: 50px;
    padding-bottom: 40px;
}
.contact-panel .contact__panel-title {
    font-size: 24px;
}
.contact-panel .contact__panel-desc {
    font-size: 15px;
    line-height: 25px;
}
.mb-40 {
    margin-bottom: 40px!important;
}
p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 15px;
}
.form-group {
    position: relative;
    margin-bottom: 30px;
}
.form-group {
    margin-bottom: 1rem;
}
.form-control {
    height: 55px;
    border: 1px solid #f4f4f4;
    background-color: #f4f4f4;
    border-radius: 1px;
    padding: 0 0 0 20px;
    border-radius: 3px;
}
.form-control, .form-control:focus, button, button:focus {
    outline: 0;
    background-color: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.btn__lg {
    min-width: 210px;
}
.btn__block {
    width: 100%;
}
.contact-panel:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 80px;
    width: -webkit-calc(100% - 160px);
    width: -moz-calc(100% - 160px);
    width: -o-calc(100% - 160px);
    width: calc(100% - 160px);
    height: 3px;
    background-color: #fe5a0e;
}
.testimonials .heading__title {
    font-size: 15px;
}
.heading__title {
    position: relative;
    font-size: 34px;
    margin-bottom: 20px;
}
.color-theme {
    color: #fe5a0e!important;
}
.testimonials .testimonials-wrapper {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    overflow: hidden;
}
.testimonials .slider-nav {
    flex: 0 0 260px;
    max-width: 260px;
    max-height: 110px;
    margin-left: -110px;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:after, .slick-track:before {
    display: table;
    content: '';
}
.testimonials .slick__nav-item:not(.slick-current) {
    -webkit-transform: translateX(25px);
    -moz-transform: translateX(25px);
    -ms-transform: translateX(25px);
    -o-transform: translateX(25px);
    transform: translateX(25px);
}
.testimonials .slick__nav-item {
    cursor: pointer;
    text-align: right;
}
.testimonials .slick-slide {
    margin: 0;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    margin: 0 10px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.testimonial__thumb {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    display: inline-block;
    margin-bottom: 15px;
    -webkit-transform: scale(.8);
    -moz-transform: scale(.8);
    -ms-transform: scale(.8);
    -o-transform: scale(.8);
    transform: scale(.8);
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -ms-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}
.testimonial__thumb img {
    max-width: 100%;
    border-radius: 50%;
}
.slick-slide img {
    display: block;
}
.testimonials .slick__nav-item .testimonial__meta {
    -webkit-transition: opacity .4s ease;
    -moz-transition: opacity .4s ease;
    -ms-transition: opacity .4s ease;
    -o-transition: opacity .4s ease;
    transition: opacity .4s ease;
}
.testimonial__meta {
    display: block;
}
.testimonial__meta .testimonial__meta-title {
    color: #1b1a1a;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    margin-bottom: 2px;
    display: block;
    white-space: nowrap;
}
.testimonial__meta .testimonial__meta-desc {
    line-height: 25px;
    font-weight: 400;
    font-size: 12px;
    color: #616161;
    margin-bottom: 0;
    display: block;
}
.testimonials .slick__nav-item {
    cursor: pointer;
    text-align: right;
}
.testimonials .slick-slide {
    margin: 0;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    margin: 0 10px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.testimonials .slick__nav-item {
    cursor: pointer;
    text-align: right;
}
.testimonials .slick__nav-item {
    cursor: pointer;
    text-align: right;
}
.testimonial__thumb img {
    max-width: 100%;
    border-radius: 50%;
}
.slick-slide img {
    display: block;
}
.testimonials .slick__nav-item {
    cursor: pointer;
    text-align: right;
}
.testimonials .slick-slide {
    margin: 0;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    margin: 0 10px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.slick-track:after {
    clear: both;
}
.slick-track:after, .slick-track:before {
    display: table;
    content: '';
}
.testimonial-item .testimonial__desc {
    font-size: 20px;
    line-height: 1.5;
    font-weight: 700;
    font-style: italic;
    color: #1b1a1a;
    margin-bottom: 0;
}
.testimonial-item:before {
    content: "";
    position: absolute;
    top: 0;
    right: 70px;
    width: 96px;
    height: 71px;
    z-index: -1;
    background-image: url(../images/icons/quote.png);
}
.banner-layout2 {
    padding-top: 135px;
    padding-bottom: 240px;
}
.bg-parallax {
    background-attachment: fixed;
}
.bg-img {
    position: relative;
    z-index: 1;
}
.bg-overlay:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: rgba(27,26,26,.15);
}
.mb-50 {
    margin-bottom: 50px!important;
}
.heading-light .heading__subtitle {
    color: #f9f9f9;
}
.heading__subtitle {
    position: relative;
    font-size: 15px;
    font-weight: 700;
    color: #fe5a0e;
    display: block;
    margin-bottom: 10px;
}
.heading-light .heading__subtitle:after {
    background-color: #fff;
}
.heading-layout2 .heading__subtitle:after {
    content: "";
    position: absolute;
    left: -50px;
    top: 50%;
    width: 30px;
    height: 2px;
    border-radius: 1px;
    background-color: #fe5a0e;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.heading-light .heading__desc, .heading-light .heading__title {
    color: #fff;
}
.heading-layout2 .heading__title {
    font-size: 40px;
}
.heading__title {
    position: relative;
    font-size: 34px;
    margin-bottom: 20px;
}
h2 {
    font-size: 42px;
}
h1, h2, h3, h4, h5, h6 {
    color: #1b1a1a;
    font-family: Barlow,sans-serif;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 20px;
}
.list-items-white li:before {
    background-color: #fff;
    color: #fe5a0e;
}
.list-items li:before {
    content: "";
    font-family: Fontawesome;
    position: absolute;
    top: 50%;
    left: 0;
    font-size: 10px;
    font-weight: 400;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    background-color: #fe5a0e;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}
.justify-content-end {
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.d-flex {
    display: -ms-flexbox!important;
    display: flex!important;
}
.info__slider {
    background-color: #fff;
    border-radius: 4px;
    padding: 50px 40px 45px 50px;
    width: 300px;
}
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}
.slick-slider .slick-list, .slick-slider .slick-track {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
.slick-list {
    margin: 0 -10px;
}
.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-track {
position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:after, .slick-track:before {
    display: table;
    content: '';
}
.slick-initialized .slick-slide {
    display: block;
}
.info__slider .info__slider-icon {
    color: #1b1a1a;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 25px;
}
.icon-wheelbarrow:before {
    content: "\e91c";
}
.info__slider .info__slider-title {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 10px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    margin: 0 10px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.info__slider .info__slider-icon {
    color: #1b1a1a;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 25px;
}
.icon-wrench5:before {
    content: "\e921";
}
.info__slider .info__slider-title {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 10px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    margin: 0 10px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.info__slider .info__slider-icon {
    color: #1b1a1a;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 25px;
}
.info__slider .info__slider-title {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 10px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    margin: 0 10px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.info__slider .info__slider-icon {
    color: #1b1a1a;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 25px;
}
.info__slider .info__slider-title {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 10px;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-slide {
    margin: 0 10px;
}
.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
.info__slider .info__slider-icon {
    color: #1b1a1a;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 25px;
}
.info__slider .info__slider-title {
    font-size: 17px;
    line-height: 1.4;
    margin-bottom: 10px;
}
.slick-track:after {
    clear: both;
}
.slick-track:after, .slick-track:before {
    display: table;
    content: '';
}
.info__slider .slick-dots {
    text-align: left;
}
.slick-dots {
    list-style: none;
    padding: 0;
    text-align: center;
    margin-bottom: 0;
    z-index: 2;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
.slick-dots li.slick-active {
    background-color: #fe5a0e;
}
.slick-dots li {
    display: inline-block;
    margin: 5px;
    position: relative;
    z-index: 1;
    padding: 0;
    font-size: 0;
    width: 16px;
    height: 4px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #9b9b9b;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.slick-dots li button {
    font-size: 0;
    width: 100%;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.slick-dots li {
    display: inline-block;
    margin: 5px;
    position: relative;
    z-index: 1;
    padding: 0;
    font-size: 0;
    width: 16px;
    height: 4px;
    cursor: pointer;
    border-radius: 3px;
    background-color: #9b9b9b;
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
.background-size-auto {
    background-size: auto!important;
}
.bg-img {
    position: relative;
    z-index: 1;
}












































































